@import '/src/globalStyles';

.Content.AdminPanel {
  .ValidationComments,
  .BanUsers {
    .PostComments {
      max-height: initial;
      text-align: initial;
      color: initial;
      overflow-y: initial;
      width: 90%;
      margin: 0 auto;

      & > div {
        box-shadow: 0 0 5px red;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &.ValitedComment {
          box-shadow: 0 0 5px green;
        }
      }

      .UserComment {
        font-weight: initial;
        margin-bottom: 0;
        text-align: justify;
      }

      .IsValidatedComment {
        display: flex;
        margin-left: 20px;
        cursor: pointer;

        i {
          font-size: 1.7rem;
        }

        i.fa-check,
        i.fa-user {
          color: green;
        }

        i.fa-times,
        i.fa-ban {
          color: red;
        }
      }
    }

    .IsValidatedAllComment {
      display: flex;
      margin: 10px auto 0 auto;
      width: fit-content;
      i {
        font-size: 1.7rem;
      }
    }
  }

  .BanUsers {
    .UserPhoto {
      position: static;
    }

    .UserNameComment {
      text-indent: initial;
      margin-left: 10px;
    }
  }

  & > div {
    position: static;
    width: 70%;
    margin: 0 auto 40px auto;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);

    form {
      textarea {
        margin: 10px 0;
        height: 200px;
      }
      .PostPhoto img {
        height: 150px;
      }
      .DeletePost,
      .DeleteSection {
        margin: 10px auto 0 auto;
      }
    }
  }

  .ManageTimetable {
    width: 90%;
    padding: 20px;
    .Timetable {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      h3,
      & > div > div {
        width: 160px;
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: 2px solid $baseBorderColor;
        background-color: $backgroundColor;
        font-weight: bold;
      }
      h3 {
        box-shadow: 0px 0px 5px $baseTextColor;
        background-color: $buttonColor;
      }
      label {
        font-size: 1.2rem;
      }
      input {
        width: 100%;
        margin: 5px 0;
      }
      .DeleteLesson {
        cursor: pointer;
        i {
          font-size: 1.5rem;
          color: red;
        }
      }
      .AddLesson {
        cursor: pointer;
        border: none;
        i {
          font-size: 1.5rem;
          color: green;
        }
      }
    }
  }

  .SelectedSectionPhotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        height: 150px;
      }
    }
  }
}

@media (max-width: $adaptiveWidth1) {
  .Content.AdminPanel {
    & > div {
      width: 90%;
    }
    .ValidationComments,
    .BanUsers {
      .PostComments {
        width: 100%;
      }
    }
  }
}

@media (max-width: $adaptiveWidth3) {
  .Content.AdminPanel {
    & > div {
      width: 100%;
    }
  }
}
