@import '/src/globalStyles';

main {
  display: flex;
  flex-direction: column;
  position: relative;

  & > * {
    padding: 10px;
  }

  $widthContent: 85%;
  .Content {
    position: relative;
    left: 100% - $widthContent;
    text-align: justify;
    width: $widthContent;
    min-height: 530px;
    border-left: 2px solid $activeColor;

    img,
    iframe.video {
      box-shadow: 0px 1px 5px $activeColor;
      border: none;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }

    .ContentImages,
    .ContentVideos {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;

      img {
        height: 150px;
      }

      iframe.video {
        width: 350px;
        height: 250px;
      }
    }

    & h3 {
      text-align: center;
      font-size: 1.3rem;
    }

    div {
      font-size: 1.1rem;
      line-height: 25px;
    }

    .Description,
    .Title {
      text-indent: 40px;
    }
    .Title {
      font-weight: bold;
    }

    & :first-child h3 {
      margin-top: 0;
    }
  }
  .NavContent {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100% - $widthContent;
    height: 70%;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    overflow-y: scroll;

    & > * {
      position: relative;
      width: 80%;
      padding: 10px 0px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.17rem;
      margin-bottom: 10px;

      &:not(.active) {
        border: 2px solid transparent;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  i.MoveUp,
  i.MoveDown {
    @extend .activeI;

    display: none;
    position: fixed;
    left: (100% - $widthContent) / 2;
    padding: 0;
    font-size: 1.7rem;
    opacity: 0.5;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  i.MoveDown {
    bottom: 100px;
  }
}

.NavContent.MainPage {
  position: absolute;
}

.fixedNavMainPage {
  position: fixed !important;
  top: $headerHeight;
}

@media (min-width: $adaptiveWidth1) {
  main .NavContent:hover {
    color: $activeColor !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    $transitionTime: 0.2s;
    transition: color $transitionTime, border-color $transitionTime;
    -webkit-transition: color $transitionTime, border-color $transitionTime;
    -moz-transition: color $transitionTime, border-color $transitionTime;
    -ms-transition: color $transitionTime, border-color $transitionTime;
    -o-transition: color $transitionTime, border-color $transitionTime;
  }
}

@media (max-width: $adaptiveWidth1) {
  $widthContent: 80%;
  main {
    i.MoveUp {
      top: 10px;
    }
    .NavContent {
      position: absolute;
      height: 90%;
      width: 100% - $widthContent;
    }
    .Content {
      left: 100% - $widthContent;
      width: $widthContent;
    }
    i.MoveUp,
    i.MoveDown {
      left: (100% - $widthContent) / 2;
    }
  }
  .fixedNav {
    position: fixed !important;
    top: 0;
  }
}

@media (max-width: $adaptiveWidth2) {
  main {
    i.MoveUp,
    i.MoveDown {
      display: none;
    }
    .NavContent {
      width: 100%;
      height: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      position: static !important;
      & > * {
        width: 150px !important;
        padding: 10px;
      }
      .YearsEvents {
        width: 100px !important;
      }
    }
    .NavContent:not(.Events) {
      flex-direction: row;
    }
    .Content {
      width: 100%;
      left: 0;
      border-left: none;
      border-top: 2px solid $activeColor;
    }
  }
}
